.book-view-container {
  /* set widths */
  --book-view-width: 80vw;
  @media (min-width: 800px) {
    & {
      --book-view-width: 50vw;
    }
  }

  /* paging buttons */
  .book-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 0.5em;
  }

  .book-view {
    width: var(--book-view-width);
    display: flex;
    gap: 2em;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin: 0em auto;
    padding: 0.5em 1em 1em;
    scroll-padding-inline-start: 1em;

    .sheet {
      width: var(--book-view-width);
      aspect-ratio: 1.41416 / 1;
      display: flex;
      flex-direction: row;
      scroll-snap-align: start;

      /* Hide scrollbars */
      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
      -ms-overflow-style: none;

      box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;

      .book-page:first-of-type {
        border-right: 1px dashed #dadada;
      }

      &:last-of-type {
        margin-right: 50%;
        .page:last-of-type {
          display: none;
        }
      }
      &:first-of-type {
        margin-left: 50%;
        scroll-snap-align: end;
        .page:first-of-type {
          display: none;
        }
      }
    }

    .page {
      position: relative;
      background: #fff;
      width: calc(var(--book-view-width) / 2);
      aspect-ratio: 1 / 1.41416;
      padding: 14px;
      box-sizing: border-box;

      .loading-overlay {
        width: 30px;
        height: 30px;
        opacity: 0.7;
      }

      .caption {
        position: absolute;
        bottom: 2px;
        width: 100%;
        text-align: center;
        font-size: 9px;
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
      }

      &.book-placeholder {
        background: #f0f0f0;
        border: 0px solid #ccc;
        box-shadow: none;
      }
    }
  }
}
