.book-view-container {
  margin: 0em auto;
  width: 80vw;

  .book-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 0.5em;
  }
}
@media (min-width: 800px) {
  .book-view-container {
    width: 50vw;
  }
}

.book-view {
  display: flex;
  gap: 2em;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: 0em auto;
  padding: 0 2em;

  .book-page-view {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    width: 80vw;

    box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;

    .book-page:first-of-type {
      border-right: 1px dashed #dadada;
    }

    &:last-of-type {
      margin-right: 50%;
      .book-page:last-of-type {
        display: none;
      }
    }
    &:first-of-type {
      margin-left: 50%;
      scroll-snap-align: end;
      .book-page:first-of-type {
        display: none;
      }
    }
  }
  .book-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 40vw;
    aspect-ratio: 1 / 1.41416;
    flex-shrink: 0;

    .loading-overlay {
      width: 30px;
      height: 30px;
      opacity: 0.7;
    }

    img {
      max-width: 90%;
      max-height: 90%;
      object-fit: cover;
    }

    &.book-placeholder {
      background: #f0f0f0;
      border: 0px solid #ccc;
      box-shadow: none;
    }
  }

  @media (min-width: 800px) {
    .book-page-view {
      width: 50vw;
      .book-page {
        width: 25vw;
      }
    }
  }
}
