.images-grid {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .images {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 12px;
    min-height: 120px;
    justify-content: center;
  }

  .instruction {
    text-align: center;
    color: #444;
    font-size: 0.7em;
  }
}

.image-item {
  background-color: #fff;
  border: 1px solid #999999;
  box-shadow: 1px 1px 2px 1px #aaa;
  color: #000000;

  position: relative;
  width: 5em;
  aspect-ratio: 1 / 1.41416; /* A4 aspect ratio */
  padding: 5px;
  cursor: grab;
  transition: box-shadow 0.2s;

  &.dragging {
    opacity: 0.5;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  }

  .loading-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 20px;
      height: 20px;
    }
  }

  img {
    transition: transform 0.15s;
  }

  .delete-text {
    position: absolute;
    bottom: -20px;
    font-size: 10px;
    opacity: 0;
    color: #0000ff;
    cursor: pointer;
    transition: opacity 0.25s;
  }
  &:hover .delete-text {
    opacity: 1;
  }

  .index-num {
    position: absolute;
    bottom: -24px;
    text-align: center;

    color: #000;
    font-size: 10px;
    transition: opacity 0.25s;
  }
  &:hover .index-num {
    opacity: 0;
  }
}

@media (min-width: 800px) {
  .image-item {
    width: 6em;
  }
}
