.printable-pages {
  display: none;
  margin: 0;

  .sheet {
    /* A4 landscape */
    width: 297mm;
    height: 210mm;
    margin: 0;
    box-sizing: border-box;
    page-break-after: always;
    break-after: page;
    overflow: hidden;

    justify-content: center;
    align-items: center;
  }

  .sheet::after {
    display: none;
  }

  .page {
    height: 100%;
    width: auto;
  }
}

@media print {
  @page {
    size: A4 landscape;
    margin: 0;
  }
  header,
  .container {
    display: none !important;
  }
  body {
    background: transparent !important;
    margin: 0;
  }
  .printable-pages {
    display: block;
  }
}
